includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app
    level: 9
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
